<header>
  {% include lang-switcher.html %}

  <script>
    const url = window.location.pathname;
    // find the current language from /hy/, /en/ or /ru/
    const urlMatch = url.match(/\/(hy|en|ru)(\/.*)?$/);
    if (urlMatch) {
        const currentPage = urlMatch[2] || '/';         
        document.querySelector('[data-lang="hy"]').href =
            `{{ site.baseurl }}/hy${currentPage}`;
        document.querySelector('[data-lang="en"]').href =
            `{{ site.baseurl }}/en${currentPage}`;
        document.querySelector('[data-lang="ru"]').href =
            `{{ site.baseurl }}/ru${currentPage}`;
    }
  </script>

  <h1>{{ site.data[page.lang].header_title }}</h1>
  <p class="bookmark">
    {{ site.data[page.lang].description | default: site.description | default: site.github.project_tagline }}
  </p>
</header>
