<!doctype html>
<html lang="{{ page.lang | default: 'hy' }}">
<!-- <html lang="{{ site.lang | default: "en-US" }}"> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        {% include lang-switcher.html %}

        <script>
          const path = window.location.pathname;
          // find the current language from /hy/, /en/ or /ru/
          const match = path.match(/\/(hy|en|ru)(\/.*)?$/);
          if (match) {
              const currentPage = match[2] || '/';         
              document.querySelector('[data-lang="hy"]').href =
                  `{{ site.baseurl }}/hy${currentPage}`;
              document.querySelector('[data-lang="en"]').href =
                  `{{ site.baseurl }}/en${currentPage}`;
              document.querySelector('[data-lang="ru"]').href =
                  `{{ site.baseurl }}/ru${currentPage}`;
          }
        </script>
        
        {% include project-header.html %}
      </header>

      <div id="banner" class="no-print">
        <!-- <span id="logo"></span> -->
        <!--<a href="{{ site.github.repository_url }}" class="button fork"><strong>View On GitHub</strong></a>-->
        <!-- {% if site.show_downloads %}
          <div class="downloads">
            <span>Downloads:</span>
          </div>
        {% endif %} -->
        <div class="downloads">
          {% include banner.html %}
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}

      </section>
        <script>   
          const bannerTranslations = {
            hy: {
              curriculum: "Ուսումնական ծրագիր",
              generalInfo: "Ընդհանուր տեղեկություններ"
            },
            ru: {
              curriculum: "Программа обучения",
              generalInfo: "Общая информация"
            },
            en: {
              curriculum: "Curriculum",
              generalInfo: "General information"
            }
          };
          const baseUrl = "{{ site.baseurl }}";
          // Armenian is the default language
          // const language = match ? match[1] : 'hy';
          const language = "{{ page.lang }}";
          // update Curriculum button
          const curriculumLink = document.getElementById('curriculum-link');
          curriculumLink.href = `${baseUrl}/${language}/`;
          curriculumLink.textContent = bannerTranslations[language].curriculum;
          // update General Information button
          const generalInfoLink = document.getElementById('general-info-link');
          generalInfoLink.href =
            `${baseUrl}/${language}/general-information.html`;
          generalInfoLink.textContent =
            bannerTranslations[language].generalInfo;
        </script>
      <footer>
        {% if site.github.is_project_page %}
          <p>Project maintained by Gevorg Vardanyan</a></p>
          <!-- <p>Project maintained by <a href="{{ site.github.owner_url }}">Gevorg Vardanyan</a></p> -->
        {% endif %}
        <div class="no-print">
          <button onclick="window.print()">🖨️ Print this page</button>
        </div>
      </footer>
    </div>
  </body>
</html>
