<!doctype html>
<html lang="{{ page.lang | default: 'hy' }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
    <script>
      const siteData = {{ site.data[page.lang] | jsonify }};
      document.title = "{{ page.title }} | " + siteData.title;

      const githubOwner = "{{ site.github.owner_name }}";
      const githubRepo = "{{ site.github.repository_name }}";
      const apiUrl = `https://api.github.com/repos/${githubOwner}/${githubRepo}/commits?per_page=1`;
      fetch(apiUrl)
        .then(response => response.json())
        .then(commits => {
          const date = new Date(commits[0].commit.committer.date);
          const yerevanDate = date.toLocaleDateString('en-CA', {
            timeZone: 'Asia/Yerevan'
          });
          document.getElementById('last-updated').textContent += ` ${yerevanDate}`;
      });
    </script>
  </head>
  <body>
      {% include project-header.html %}

      <div id="banner" class="no-print">
        <div class="downloads">
          {% include banner.html %}
        </div>
      </div>

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{ content }}
      </section>

      {% include project-footer.html %}

    </div>
  </body>
</html>
